.menu-btn{
    text-align: right;
}
.bck-color1{
    background-color: #2C3E50;
}
.bck-color2{
    background-color: #1ABC9C;
}
.bck-color3{
    background-color: #BA4B63;
}
.bck-color4{
    background-color: #1EA4B6;
}
.bck-color5{
    background-color: #140F0F;
}
.bck-color6{
    background-color: #1C83C1;
}
.bck-color7{
    background-color: #0E38B5;
}
.bck-color8{
    background-color: #CCB2A3;
}
