

/* COMMONS */

.bck-color1{
    background-color: #2C3E50;
}
.bck-color2{
    background-color: #1ABC9C;
}
.bck-color3{
    background-color: #BA4B63;
}
.bck-color4{
    background-color: #1EA4B6;
}
.bck-color5{
    background-color: #140F0F;
}
.bck-color6{
    background-color: #1C83C1;
}
.bck-color7{
    background-color: #0E38B5;
}
.bck-color8{
    background-color: #CCB2A3;
}
.bck-color9{
    background-color: #3A546D;
}
.bck-color10{
    background-color: #2C3E50;
}
.uppercase{
    text-transform: uppercase;
}

/* HEADER */

header{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    gap: 0 20px;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
}
.logo h2{
    font-size: 22px;
    margin-bottom: 0;
    cursor: pointer;
}
.nav-mobile{
   text-align: right;
}
.nav-mobile i{
    padding: 8px 12px;
    border: solid white 1px;
    color: gray;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* HERO */

.hero img{
    height: 300px;
    padding: 20px 0;
}
.hero{
    color: white;
    font-weight: bold;
}
.line{
    height: 3px;
    background-color: white;
    width: 120px;
}
.decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero-txt{
    padding-top: 15px;
    padding-bottom: 40px;
}











.footer-bottom{
    text-align: center;
}